			
			
			<div class="container">
				<footer class="jumbotron">
					<h6> Everything Hymns <h6>
					<p>  Copyrights Reserved GeedheyInc &copy 2017. All rights 	reserved.</p>
				</footer>
			</div>
			
		</body>
	</html>