			
			
			<div class="container-fluid footer">
				<footer>
					<div class="row">
						<div class="col-md-6">
							<strong><h4> Everything Hymns </h4></strong>
						</div>
						<div class="col-md-6">
							<strong><h5>  Powered By GeedheyInc &copy 2017. All rights reserved.</h5></strong>
							<div class="date"><h5 id="date"> </h5></div>
						</div>
						
					</div>				
				</footer>
			</div>
		<script type="text/javascript" src="/scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/scripts/carousel.js"></script>
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/script.js"></script>
		<script type="text/javascript" src="/scripts/sorttable.js"></script>
		</body>
	</html>