			
			
			<div class="container-fluid">
				<footer class="jumbotron">
					<h6> Everything Hymns <h6>
					<p>  Copyrights Reserved GeedheyInc &copy 2017. All rights 	reserved.</p>
				</footer>
			</div>
		<script type="text/javascript" src="/scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/scripts/tether.js"></script>
		<script type="text/javascript" src="/scripts/carousel.js"></script>
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/script.js"></script>
		</body>
	</html>