
<!DOCTYPE html>
<html>
	<head>
		<title> Everything Hymns</title>
		<script type="text/javascript" src="/scripts/jquery3.1.0.min.js"></script>
		<script type="text/javascript" src="/scripts/tether.js"></script>
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/style-sheets/bootstrap.min.css" >
		<link rel="stylesheet" href="/style-sheets/styles.css">
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/script.js"></script>
	</head>
<body>
	
