

<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<form class="navbar-form navbar-left" role="search">
				<div class="navbar-header">
					<a class="navbar-brand brand" href="/">Everything Hymns</a>
					<div class="input-group">
						<input type="text" name="search" class=" search-bar form-control" placeholder="Search">
						<span class="input-group-addon fa fa-search" id="search-icon"></span>
				</div>	
				</div>
				
			</form> 
		
		<div class="collapse navbar-collapse">
				<ul class=" nav navbar-nav navbar-right"> 
					<li><a href="/">Login <i class="fa fa-user-o"></i></a></li>
					<li><a href="/">Sign up <i class="fa fa-user-circle-o"></i></a></li>
					<li><a href="/">Contact Us <i class="fa fa-phone"> </i></a></li>
				</ul>
		</div>
		</div>
	</nav>