

<nav class="navbar navbar-inverse navbar-fixed-top" id="topnav">
		<div class="container-fluid">
			
				<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand brand" href="/">Everything Hymns</a>

      				
				</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
					<div class="date">
						<h5 id="date"> </h5>
					</div>
					<div class="search-bar">
						<form action="/search" method="GET" class="form-inline">
      					<div class="form-group has-feedback" >
      						<input type="text" name="search" placeholder="Search Hymn"/>
      						<i class="fa fa-search fa-lg form-control-feedback" id="search-icon"></i>	
      					</div>
      					</form>
      				</div>
      			<div class="right-label">
				<ul class="nav navbar-nav navbar-right"> 
				<%	if (!currentUser) { %>
						<li><a href="">  </a></li>
						<li><a href="/login">Login <i class="fa fa-user-o"></i></a></li>
						<li><a href="/register">Sign up <i class="fa fa-user-circle-o"></i></a></li>
				<%	} else {  %>
						<li id="username"><a href="#"><%=currentUser.username %></a></li>
						<li><a href="/logout">Log Out <i class="fa fa-sign-out"></i></a></li>
				<%	}  %>
					<li role="seperator" class="divider"></li>
					<li><a href="/">Contact Us <i class="fa fa-phone"> </i></a></li>
					<li><a href="/">About <i class="fa fa-info"> </i></a></li>
				</ul>
				</div>
		</div>
		</div>
	</nav>
	<div class="container-fluid flash-message">
	<% if (error && error.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
	<%	} %>
	<%	 if(success && success.length > 0) { %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
	<%	}	%>
	</div>