<% include layouts/header %>
<% include layouts/navbar %>

<div class="container" id="content">

    <h4>For enquiries and suggestions</h4>
    <p>Contact me: babageedhey@gmail.com</p>
    <p>+2348034967315 0r +2347088461974</p>

</div>
<div class="row">
    <div class="col-md-3 ">
            <h3 class="title-h"></h3>
        
    </div>
</div>

<footer>
    <% include layouts/footer %>
</footer>