<% include layouts/header %>

<% include layouts/navbar %>

<div class="container-fluid" id="content">
	<div class="row">
		<div class="col-md-9">
		<fieldset id="form">
			<legend> Login </legend>
			<form action="/login" method="POST">
			<label> Username: </label>
			<input type="text" name="username" placeholder="Username" required/><br>
			<label> Password: </label>
			<input type="password" name="password" placeholder="Password" required /><br>
			<button class="btn btn-primary"> Submit </button>
			</form>
		</fieldset>
		</div>
	

	<div class="row">
			<div class="col-md-3">
				<h3> News Feed </h3>
				<div class="well"> 
					<div class="thumbnail">
						<img class="img-responsive" src="/images/city.jpg" >
					</div>
					<div class="thumbnail">
						<img class="img-responsive" src="/images/dPrayer.jpg" >
					</div>
					<div class="thumbnail">
						<img class="img-responsive" src="/images/grace.jpg" >
					</div>
					<div class="thumbnail">
						<img class="img-responsive" src="/images/rest.jpg" >
					</div>
				</div>
			</div>
	</div>
	</div>
</div>
<footer>
	<% include layouts/footer %>
</footer>