@font-face {
  font-family: "blkchcry";
  src:url(blkchcry.ttf);
  font-weight: bold;
}

* {
  src: url(blkchcry.ttf);
  font-family: "blkchcry";
}

.title-h {
  color: coral;
  font-weight: bold;
}

.brand {
	margin-top: -3px;
	padding-right: 2px;
}

#username{
  color:#9d9d9d;
}

#search-icon {
	background-color:inherit;
  margin-left: 0px;
}

.search-bar {
  width: 30%;
  margin-top: 10px;
}

#date {
  color:#8a6d3b;
  font-weight: bold;
}
.date {
  display: inline-block;
    margin-top: 5px;

}
.flash-message {
  margin-top: 30px;
  margin-bottom: 0px;
}
#content {
  margin-top: 0px;
  margin-bottom: 60px;
}
.list-group-item  {
  font-size: 19px;
  font-weight:300%;
}

.list-group-item > .active > .list-group-item > .active: focus > .list-group-item > .active: hover{
  background-color: gray;
  border-radius: 2px;
}
 
#content {
  margin-top: 60px;
}
.sortby {
  font-family: "Trebuchet MS";
  font-size: large;
  color:#8a6d3b;
}
body {
  font-family: "blkchcry";
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-size: 30rem;
  height:100%;
  position: relative;
  background-color: #fcf8e3;
}
table {
    width:auto;/*fixed width table*/
    height:auto;
    border-collapse: collapse;
    empty-cells: show;  
}
.table-responsive {
  max-width: auto;
}
table td:first-child {
    text-align:left; /*Aligning the Numbers to center */
}

.hymn-table thead tr {
    display:table-header-group; /*makes the table head sizeable*/
}

thead th:first-of-type {
   width:2%;/*Making the number-header column smaller than the other column*/
   
}

thead th {
    
    background-color:#222;
    text-align: center;
    color:#9d9d9d;
    border:  1px solid ;
    margin: 5px;
    padding-left: 10px;

    
}

tbody td:first-of-type {
    width:5%; /*Making the number-body column smaller than the other column*/
   
}

tbody td {

    width:auto;
    text-align: center;
       
}

tbody {
    display:block;
    height:500px;
    overflow:auto;
    width:100%;

    
}
td:first-child + td{
  width:55%;
}
td:first-child + td + td{
  width:20%;
}
.title {
  width:30%;
  text-align: left;
  margin-left: 50px;
  padding-left: 50px;
}
.meter {
  width:20%;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}
.tune {
  width:25%;
  text-align: center;
  padding-left:1px;
}
.tb-head {
  text-align: center;
  padding-right: 300px;
}

.sort {
    display: inline;
    font-size: 18px;
    padding: 1px;
    font-weight: bold;
    color:#9d9d9d;  

}

#sort-by {
display: inline;
width:30%;
margin-bottom: 5px;

}

.title-h {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: -5px;
}

#hr{
  margin-bottom: 5px;
  margin-top: 6px;
}

#delete-btn {
  display: inline;
}

.navbar-static-top{
  margin-top: -30px;
}

.form-page{
  min-height: 100%;
  position: relative;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height:100px;
  background-color: #222;
  margin-top: 20px;
  margin-bottom: -95px;
  font-family: "Trebuchet MS";
  font-weight: bold;
}

#topnav a {
  font-family: "Trebuchet MS";
  font-weight: bold;
}

footer  h5{
  color:#9d9d9d;
  font-family: "Trebuchet MS";
  font-weight: bold;
}
footer h4 {
  color:#9d9d9d;
  font-family: "Trebuchet MS";
  font-weight: bold;
}

.score-img{ 
  margin-bottom:50px;
  margin-left: auto;
 }

#add-btn {
  margin-bottom: 3px;
 }
.form-border {
  border: 1px solid #9d9d9d;
  padding:20px 80px 40px 20px;
  padding-right: 120px;
}

.forms {
  width: 35%;
  margin: 0 auto;
} 
.forms input {
  min-width: 150%;
}

.caption-img {
    position: relative;
    left: auto;
    right: auto;
    background-color: #222;
    
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img ,
.thumbnail a > img >
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}


@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }
